<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
    <!--Database-->
    <context:annotation-config proxy-target-class="true"/>
    <!--<bean id="connectDB" class="com.mycompany.spring_chatdemo.ConnectDB">-->
        <!--<property name="dataSource" ref="dataSource"/>-->
    <!--</bean> 
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/chat"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean>   
    -->
    <bean id="sender" class="com.mycompany.chatconnect.Sender">
    </bean>
    
    <bean id="receiver" class="com.mycompany.chatconnect.Receiver">
    </bean>
    
   <!--<bean id="messageDao" class="com.mycompany.chatdatabase.MessageDAO">
       <property name="sessionFactory" ref="sessionFactory"></property>
   </bean>
    
   <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
       <property name="configLocation" >
           <value>hibernate.cfg.xml</value>
       </property>
   </bean>-->
   <!--<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
       <property name="sessionFactory" ref="sessionFactory">
       </property>
   </bean> 

    <bean id="connectDB" class="com.mycompany.chatdatabase.ConnectDB>
        <property name="hibernatetemplate" ref="hibernateTemmplate"></property>
    </bean>-->
</beans>
